<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Azenta Template">
    <meta name="keywords" content="Azenta, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Azenta </title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{../css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{../css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{../css/themify-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{../css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{../css/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{../css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{../css/magnific-popup.css}" type="text/css">
    <link rel="stylesheet" th:href="@{../css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{../css/style.css}" type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Section Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="canvas-open">
    <i class="icon_menu"></i>
</div>
<div class="offcanvas-menu-wrapper">
    <div class="canvas-close">
        <i class="icon_close"></i>
    </div>
    <div class="language-bar">
        <div class="language-option">
            <img th:src="@{../img/flag.png}" alt="">
            <span>English</span>
            <i class="fa fa-angle-down"></i>
            <div class="flag-dropdown">
                <ul>
                    <li><a href="#">English</a></li>
                    <li><a href="#">Germany</a></li>
                    <li><a href="#">China</a></li>
                </ul>
            </div>
        </div>
        <!--        <div class="property-btn">-->
        <!--            <a href="#" class="property-sub">Submit Property</a>-->
        <!--        </div>-->
    </div>
    <nav class="main-menu">
        <ul>
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/property}">Property</a></li>
            <li><a th:href="@{/regulations}">News</a></li>
        </ul>
    </nav>
    <div class="nav-logo-right">
        <ul>
            <li>
                <i class="icon_phone"></i>
                <div class="info-text">
                    <span>Phone:</span>
                    <p>(+12) 345 6789</p>
                </div>
            </li>
            <li>
                <i class="icon_map"></i>
                <div class="info-text">
                    <span>Address:</span>
                    <p>16 Creek Ave, <span>NY</span></p>
                </div>
            </li>
            <li>
                <i class="icon_mail"></i>
                <div class="info-text">
                    <span>Email:</span>
                    <p>Info.cololib@gmail.com</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- Offcanvas Menu Section End -->

<!-- Header Section Begin -->
<header class="header-section">
    <div class="top-nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <nav class="main-menu">
                        <ul>
                            <li><a th:href="@{/home}">Home</a></li>
                            <li><a th:href="@{/property}">Property</a></li>
                            <li class="active"><a th:href="@{/blogs}">News</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-5">
                    <div class="top-right">
                        <div class="language-option">
                            <img th:src="@{../img/flag.png}" alt="">
                            <!--                            <span>English</span>-->
                            <i class="fa fa-angle-down"></i>
                            <div class="flag-dropdown">
                                <ul>
                                    <li><a th:href="@{/admin/blogs}">Admin Page</a></li>
                                    <li><a th:href="@{/}">Log Out</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--                        <a href="#" class="property-sub">Submit Property</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-logo">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="logo">
                        <a th:href="@{/home}"><img th:src="@{../img/logo.png}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="nav-logo-right">
                        <ul>
                            <li>
                                <i class="icon_phone"></i>
                                <div class="info-text">
                                    <span>Phone:</span>
                                    <p>(+12) 345 6789</p>
                                </div>
                            </li>
                            <li>
                                <i class="icon_map"></i>
                                <div class="info-text">
                                    <span>Address:</span>
                                    <p>16 Creek Ave, <span>NY</span></p>
                                </div>
                            </li>
                            <li>
                                <i class="icon_mail"></i>
                                <div class="info-text">
                                    <span>Email:</span>
                                    <p>Info.cololib@gmail.com</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->

<!-- Blog Details Hero Section Begin -->
<section class="blog-details-hero set-bg" data-setbg="../img/blog/blog-details-hero.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bd-hero-text">
                                        <span>Real Estate</span>
                                        <h2>Galliford saves hardest for last on <br/>Thames resi scheme</h2>
                    <ul>
                        <li><i class="fa fa-user" th:text="${blog.user.username}"></i></li>
                        <li><i class="fa fa-clock-o" th:text="${blog.createdAt}"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  Blog Details Hero Section Begin -->

<!-- Blog Details Section Begin -->
<section class="blog-details-section">
    <div class="container ">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="blog-details-title">
                    <h4 id="title" th:text="${blog.title}"></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 ">
                <div class="col set-bg">
                    <img th:src="${blog.thumbnail}" alt="">
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="blog-details-content text-center">
                <p id="content" th:text="${blog.content}"></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="blog-details-pic">
                <div class="bd-pic-item small-item set-bg" data-setbg="../img/blog/blog-details-1.jpg"></div>
                <div class="bd-pic-item small-item set-bg" data-setbg="../img/blog/blog-details-2.jpg"></div>
                <div class="bd-pic-item large-item set-bg" data-setbg="../img/blog/blog-details-3.jpg"></div>
                <div class="bd-pic-item wide-item set-bg" data-setbg="../img/blog/blog-details-4.jpg"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="blog-more-details">
                <p id="description" th:text="${blog.description}"></p>
            </div>
            <div class="tag-share-option">
                <div class="tags">
                    <a href="#">Real Estate</a>
                    <a href="#">Properties</a>
                </div>
                <div class="social-share">
                    <span>Share:</span>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="comment-option">
                <h4>2 Comments</h4>
                <div class="single-comment-item first-comment">
                    <div class="sc-author">
                        <img th:src="@{../img/blog/comment/comment-1.jpg}" alt="">
                    </div>
                    <div class="sc-text">
                        <span>27 Aug 2019</span>
                        <h5>Brandon Kelley</h5>
                        <p>Neque porro qui squam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                            adipisci velit, sed quia non numquam eius modi tempora. incidunt ut labore et dolore
                            magnam.</p>
                        <a href="#" class="comment-btn">Like</a>
                        <a href="#" class="comment-btn">Reply</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-11 offset-lg-1">
                        <div class="single-comment-item reply-comment">
                            <div class="sc-author">
                                <img th:src="@{../img/blog/comment/comment-2.jpg}" alt="">
                            </div>
                            <div class="sc-text">
                                <span>27 Aug 2019</span>
                                <h5>Mia Maya</h5>
                                <p>Neque porro qui squam est, qui dolorem ipsum quia dolor sit amet,
                                    consectetur, adipisci velit, sed quia non numquam eius modi tempora.
                                    incidunt ut labore et dolore magnam.</p>
                                <a href="#" class="comment-btn like-btn">Like</a>
                                <a href="#" class="comment-btn reply-btn">Reply</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-comment-item second-comment ">
                    <div class="sc-author">
                        <img th:src="@{../img/blog/comment/comment-3.jpg}" alt="">
                    </div>
                    <div class="sc-text">
                        <span>27 Aug 2019</span>
                        <h5>Mike Phillips</h5>
                        <p>Neque porro qui squam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                            adipisci velit, sed quia non numquam eius modi tempora. incidunt ut labore et dolore
                            magnam.</p>
                        <a href="#" class="comment-btn">Like</a>
                        <a href="#" class="comment-btn">Reply</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="leave-comment">
                <h4>Leave A Comment</h4>
                <form action="#">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" placeholder="Name">
                        </div>
                        <div class="col-lg-6">
                            <input type="text" placeholder="Email">
                        </div>
                    </div>
                    <input type="text" placeholder="Website">
                    <textarea placeholder="Messages"></textarea>
                    <button type="submit" class="site-btn">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Section End -->

<!-- Partner Carousel Section Begin -->
<div class="partner-section">
    <div class="container">
        <div class="partner-carousel owl-carousel">
            <a href="#" class="partner-logo">
                <div class="partner-logo-tablecell">
                    <img th:src="@{../img/partner/partner-1.png}" alt="">
                </div>
            </a>
            <a href="#" class="partner-logo">
                <div class="partner-logo-tablecell">
                    <img th:src="@{../img/partner/partner-2.png}" alt="">
                </div>
            </a>
            <a href="#" class="partner-logo">
                <div class="partner-logo-tablecell">
                    <img th:src="@{../img/partner/partner-3.png}" alt="">
                </div>
            </a>
            <a href="#" class="partner-logo">
                <div class="partner-logo-tablecell">
                    <img th:src="@{../img/partner/partner-4.png}" alt="">
                </div>
            </a>
            <a href="#" class="partner-logo">
                <div class="partner-logo-tablecell">
                    <img th:src="@{../img/partner/partner-5.png}" alt="">
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Partner Carousel Section End -->

<!-- Footer Section Begin -->
<footer class="footer-section set-bg" data-setbg="img/footer-bg.jpg">
    <div class="container">
        <div class="footer-text">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-logo">
                        <div class="logo">
                            <a href="#"><img th:src="@{../img/footer-logo.png}" alt=""></a>
                        </div>
                        <p>Subscribe our newsletter gor get notification about new updates.</p>
                        <form action="#" class="newslatter-form">
                            <input type="text" placeholder="Enter your email...">
                            <button type="submit"><i class="fa fa-location-arrow"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="footer-widget">
                        <h4>Property City</h4>
                        <ul>
                            <li><i class="fa fa-caret-right"></i> <a href="#">Florida</a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="#">New York</a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="#">Washington</a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="#">Los Angeles</a></li>
                        </ul>
                        <ul>
                            <li><i class="fa fa-caret-right"></i> <a href="#">St Louis</a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="#">Jacksonville</a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="#">San Jose</a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="#">San Diego</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <h4>Social</h4>
                        <ul class="social">
                            <li><i class="ti-facebook"></i> <a href="#">Facebook</a></li>
                            <li><i class="ti-instagram"></i> <a href="#">Instagram</a></li>
                            <li><i class="ti-twitter-alt"></i> <a href="#">Twitter</a></li>
                            <li><i class="ti-google"></i> <a href="#">Google+</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-widget">
                        <h4>Contact Us</h4>
                        <ul class="contact-option">
                            <li><i class="fa fa-map-marker"></i> 16 Creek Ave. Farming, NY</li>
                            <li><i class="fa fa-phone"></i> (+88) 666 121 4321</li>
                            <li><i class="fa fa-envelope"></i> info.colorlib@gmail.com</li>
                            <li><i class="fa fa-clock-o"></i> Mon - Sat, 08 AM - 06 PM</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-text">
            <p>
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a
                        href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </p>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script th:src="@{../js/jquery-3.3.1.min.js}"></script>
<script th:src="@{../js/bootstrap.min.js}"></script>
<script th:src="@{../js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{../js/jquery.nice-select.min.js}"></script>
<script th:src="@{../js/jquery.slicknav.js}"></script>
<script th:src="@{../js/jquery-ui.min.js}"></script>
<script th:src="@{../js/owl.carousel.min.js}"></script>
<script th:src="@{../js/main.js}"></script>
</body>

</html>